/* CSS Document */

/* Menu lateral*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.sideBar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #000686;
	transition: all .5s ease;
}

.sideBar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	font-weight:bold;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	
}

ul li:hover a{
	padding-left: 50px;
	
}

.sideBar ul a i{
	margin-right: 16px;
}

#check{
	display: none;
}

label #btnMenu, label #cancel{
	position: absolute;
	cursor: pointer;
	background: #000686;
	border-radius: 3px;
	
}

label #btnMenu{
	left:10px;
	top:5px;
	font-size: 35px;
	color: white;
	padding: 6px 12px;
	transition: all .5s ease;
	
}

label #cancel{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: white;
	padding: 4px 9px;
	transition: all .5s ease;
}

#check:checked~.sideBar{
	left: 0;
}

#check:checked~label #btnMenu{
	left:250px;
	opacity: 0;
	pointer-events: none;
}

#check:checked ~ label #cancel{
	left: 195px;
}