#container{
	padding-left: 280px;	
	align-items: center;
	

}

.btn_new{
	display: inline-block;
	background: #000686;
	color: white;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}

.tableCont{
 	max-height: 400px;
	overflow-y: scroll;
}


table{
	border-collapse:collapse;
	font-size: 12pt;
	width: 90%;
	height: 60%;
	
}

table th{ /*color de cabecera*/
	text-align: left;
	padding: 5px;
	background: #000686;
	color: #FFF;
}

table .sticky{ /*clase para cabecera dija*/
	position: sticky;
	top:0;
}

table tr:nth-child(odd){ /*efecto zebra*/
    background-color: #CCCCCC;
}

table td{
    padding:10px;
}

 .link_edit{ 
     color: green;
 }
 
 .link_delete{
     color:red;
 }